*{
    margin:0;
    padding:0;
}
.navbar{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
height:60px;
background-color:rgb(162, 6, 6);
}
.logo {
width:15%;
height:80%;

}
.logo>img{
    padding-left: 10px;
    padding-top: 10px;
    
   width: 60px;
   height: 40px;
}
.options {
    display: flex;
    flex-direction: row;
    width:80%;
    height:80%;
    justify-content: flex-end;
    align-items: center;
}
.options>li{
    list-style-type: none;
    margin:10px;
}

.options .navoption{
    
    text-decoration: none;
    color: black;

}
.options .navoption:hover{
    color: #3602f2;
}